.div-center {
    text-align: center;
}

.table-style {
    margin: 5px auto;
}

.source {
    width: 40px;
    height: 40px;
    position: absolute;
    /* row_index * 44 + 111 + 6 */
    top: 337px;
    /* col_index * 44 + 8 */
    left: 228px;
    background-image: url('../../public/Icons/source.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.destination {
    width: 40px;
    height: 40px;
    position: absolute;
    /*
    this is row = 4, col = 7
    find div id = 4 * max_col + 7
    from the element.getBoundingClientRect() get left, and top
    add 3 to top and 3 to left
        top: 249px;
        left: 272px;
    */
    top: 557px;
    left: 448px;
    background-image: url('../../public/Icons/destination.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.row-style {
    display: flex;
}

.grid-style {
    width: 40px;
    height: 40px;
    border: 1px dashed;
}

.top-row {
    border-top: 2px solid;
}

.bottom-row {
    border-bottom: 2px solid;

}

.left-col {
    border-left: 2px solid;
}

.right-col {
    border-right: 2px solid;
}

.source-node {
    background: red;
}

.dest-node {
    background: black;
}

.visited-node {
    background: cyan;
}

.path-node {
    background: #ffe54c center;
}

.path-node-left {
    background: #ffe54c center;
    background-image: url('../../public/Icons/path.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(270deg);
}

.path-node-right {
    background: #ffe54c center;
    background-image: url('../../public/Icons/path.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(90deg);
}

.path-node-up {
    background: #ffe54c center;
    background-image: url('../../public/Icons/path.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(0deg);
}

.path-node-down {
    background: #ffe54c center;
    background-image: url('../../public/Icons/path.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(180deg);
}

.path-node-left-down {
    background: #ffe54c center;
    background-image: url('../../public/Icons/corner_flip.png');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    transform: rotate(90deg);
}

.path-node-left-up {
    background: #ffe54c center;
    background-image: url('../../public/Icons/corner.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(270deg);
}

.path-node-right-up {
    background: #ffe54c center;
    background-image: url('../../public/Icons/corner_flip.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(270deg);
}

.path-node-right-down {
    background: #ffe54c center;
    background-image: url('../../public/Icons/corner.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(270deg);
}

.path-node-up-left {
    background: #ffe54c center;
    background-image: url('../../public/Icons/corner.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(270deg);
}

.path-node-up-right {
    background: #ffe54c center;
    background-image: url('../../public/Icons/corner.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(270deg);
}

.path-node-down-left {
    background: #ffe54c center;
    background-image: url('../../public/Icons/corner.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(270deg);
}

.path-node-down-right {
    background: #ffe54c center;
    background-image: url('../../public/Icons/corner_flip.png');
    background-repeat: no-repeat;
    background-size: 30% 30%;
    transform: rotate(0deg);
}