.div-center {
    text-align: center;
}

.table-style {
    margin: 5px auto;
}

.source {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 337px;
    left: 228px;
    background-image: url('../../public/Icons/source.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.destination {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 557px;
    left: 448px;
    background-image: url('../../public/Icons/destination.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.row-style {
    display: flex;
}

.grid-style {
    width: 40px;
    height: 40px;
    border: 1px dashed;
}

.top-row {
    border-top: 2px solid;
}

.bottom-row {
    border-bottom: 2px solid;

}

.left-col {
    border-left: 2px solid;
}

.right-col {
    border-right: 2px solid;
}

.visited-node {
    background: cyan;
}

.path-node {
    background: #ffe54c center;
}

.path-node-left {
    background-image: url('../../public/Icons/path.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(270deg);
}

.path-node-right {
    background-image: url('../../public/Icons/path.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(90deg);
}

.path-node-up {
    background-image: url('../../public/Icons/path.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(0deg);
}

.path-node-down {
    background-image: url('../../public/Icons/path.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(180deg);
}

.path-node-left-down {
    background-image: url('../../public/Icons/corner_flip.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(90deg);
}

.path-node-left-up {
    background-image: url('../../public/Icons/corner.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(90deg);
}

.path-node-right-up {
    background-image: url('../../public/Icons/corner_flip.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(270deg);
}

.path-node-right-down {
    background-image: url('../../public/Icons/corner.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(270deg);
}

.path-node-up-left {
    background-image: url('../../public/Icons/corner_flip.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(180deg);
}

.path-node-up-right {
    background-image: url('../../public/Icons/corner.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(180deg);
}

.path-node-down-left {
    background-image: url('../../public/Icons/corner.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(0deg);
}

.path-node-down-right {
    background-image: url('../../public/Icons/corner_flip.png');
    background-repeat: no-repeat;
    background-size: 25% 25%;
    transform: rotate(0deg);
}

.mark-non-obstacle {
    background-color: none;
}

.mark-obstacle {
    background-color: grey;
    background-image: none;
}